/* fira sans font start*/

.fira-sans-normal {
    font-family: "Fira Sans", serif;
    font-style: normal;
    font-optical-sizing: auto;
    font-variation-settings: 
    "wdth" 100;
  }
  
  /* fira sans font end */

 /* nav-style start*/
 nav ul li{
  list-style: none;
 }
 nav{
    display: flex;
    justify-content: space-between;
    margin: 24px 160px;
 }
.btn-style{
    color: #006A50;
    border: 1px solid #006A50;
     background-color: white;
     border-radius: 8px;
     padding: 15px 34px;
     font-weight: 600;
     font-size: 18px;
}
 /* nav style end */

 /* banner-section start */
.banner{
    display: flex;
    justify-content: space-between;
    margin: 45px 119.99px 80px 119.99px;
    padding: 117px 70px 117px 100px;
    background-color: #C6E4D6;
    border-radius: 24px;
}
.banner-profile-pic{
    width: 474.03px;
}
.banner-content{
    max-width: 622px;
}
.btn-banner{
    background-color: #006A50;
    color: #FFFFFF;
    border-radius: 8px;
    padding: 17px;
    border: none;
    font-size: 18px;
    font-weight: 600;
}
.banner-title{
    font-weight: 500;
    font-size: 24px;
    color: #0E0E0E;
    opacity: 50%;
}
.banner-description{
    font-weight: bold;
    font-size: 56px;
    color: #0E0E0E;
}
/* banner section end */

/* features section start */
.Vision-of-Future{
    width: 1280px;
    height: 784px;
.Vision-of-Future-title{
    text-align: justify;
}

.Vision-of-Future-description{
    text-align: justify;
}
}
.box-container{
    display: flex;
    justify-content: space-evenly;
    width: 1280px;
    height: 325px;
    text-align: center;
    gap: 24px;
    margin top: 32px;
    
   
}
.Digital-Transformation{
    text-align: justify;
    border: none;
    padding: 32px;
    width: 410.67px;
    height: 250px;
    background-color: #b2cdfb;
    border-radius: 16px;
    

   
}
.Green-Energy{
    text-align: justify;
    border: none;
    padding: 32px;
    width: 410.67px;
    height: 250px;
    background-color: #a2f5d1;
    border-radius: 18px;
  

}

 

.Modern-Infrastructure{
    text-align: justify;
    border: none;
    padding: 32px;
    width: 410.67px;
    height: 250px;
    background-color: #eac97bc8;
    border-radius: 18px;
}
.box-btn1{
    color: #FFFFFF;
    background-color: #5187e5;
    padding: 11px 20px;
    border-radius: 8px;
    border: none;
  
}
.box-btn2{
    background-color: #09A15C;
    padding: 11px 20px;
    border-radius: 8px;
    border: none;
    color: #FFFFFF;
    margin-top: 15px;
}


.box-btn3{
    padding: 11px 20px;
    border-radius: 8px;
    background-color: #f4ba33;
    color: #FFFFFF;
    border: none;
}
    

.Vision-of-Future{
  max-width: 1280px;
    max-height: 431px;
  

}

main{
    width: 1280px;
 margin: 0px auto;
 background-color: rgb(255, 255, 255);
 text-align: justify;
}

.box1{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
}


.btn1{
    padding: 40px;
    font-weight: bold;
    font-size: 40px;
    border-radius: 16px;
    background-color: #FFFFFF;
    border: none;
}
.input-1{
    text-align: center;
}
.input-2{
    text-align: center;
}
.input-3{

}
.green-title{
    color: #0E0E0E;
    font-weight: bold;
    font-size:20px;
}
.green-description{
    font-size: 16px;
    font-weight: 400;
}
.Modern-Infrastructure-title{
    color: #0E0E0E;
    font-weight: bold;
    font-size: 20px;
}
.Modern-Infrastructure-description{
    font-weight: 400;
    font-size: 16px;
}

.Dr-Yunus{
    background-image: url("../assets/quote-bg.png");
    background-repeat: no-repeat;
    background-position: top left;
    background-color: #FFFFFF;
    padding: 24px 5px;
    margin-bottom: 30px;


}

.content{
    display: flex;
    /* width: 1280px; */
    /* height: 402px; */
    background-color: #fffdfd;
    border-radius: 8px;
    padding: 48px;
    gap: 30px;
    /* margin-bottom: 18px; */
}

.Read-more{
    background-color: #006A50;
    color: #FFFFFF;
    padding: 13px 26px;
    border-radius: 8px;
    font-weight: 600;
    font-size: 18px;
    border: none;

}
    .content-2{
        display: flex;
        /* width: 1280px; */
        /* height: 402px; */
        border-radius: 8px;
        padding: 48px;
        gap: 30px;
        background-color: #ffffff;
        margin-bottom: 80px;
    }

.right{ 
    gap: 32px;
    text-align: justify;

}
.left-2 {
    text-align: justify;
    gap: 32px;
}

.sat-pic{
    width: 408px ;
    height: 306px;
    border-radius: 24px;
}

/* footer style */
.footer-logo{
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 35px;
}
.header-title{
    text-align: center;
    margin-bottom: 35px;
    margin-top: 50px;
    padding: 50px 0 32px 0;
}

.butn-i{
    padding: 20px;
    background-color: #e0e0e0;
    border-radius: 16px;
    color: #0E0E0E;
    font-weight: bold;
    font-size: 40px;
    border: none;
    margin-bottom: 20px;
}

.butn-ii{
    padding: 20px;
    background-color: #C6E4D6;
    border-radius: 16px;
    color: #0E0E0E;
    font-weight: bold;
    font-size: 40px;
    border: none;
    margin-bottom: 20px
}
.butn-iii{
padding: 20px;
background-color: #f0b4b4;
border-radius: 16px;
color: #0E0E0E;
font-weight: bold;
font-size: 40px;
border: none;
margin-bottom: 20px
}

.butn-iv{
    padding: 20px;
background-color: #c3c2c2;
border-radius: 16px;
color: #0E0E0E;
font-weight: bold;
font-size: 40px;
border: none;
margin-bottom: 20px
}

.donate-title{
    font-weight: bold;
    font-size: 40px;
}
.donate-form{
   text-align: center;
   margin-bottom: 20px;
  max-width: 1032px;
   height:100px;
   padding: 10px 120px;
   background-color: #FFFFFF;
}
.form{
    width: 100px;
    height:50px;
    background-color: #fff8f8;
    border: 1px solid rgb(2, 1, 0)  ;
    padding: 20px 440px;
    margin-bottom: 20px;
}

footer{
    background-color: #ffffff;
    max width: 1600px;
    max height: 226px;
    
}
.footer-logo{
    padding-bottom: 35px;
}
.donate-title{
    text-align: center;
}
.donate-description{
    text-align: center;
}
.donate-btn{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.input-sec{
   text-align: center; 
   justify-content: center;
   margin-left: 200px;
}
.newsletter-section{
    max-width: 1280px;
    max-height: 100px;
    border-radius: 24px;
    /* border: 1px solid black; */
    background-color: #C6E4D6;
    text-align: center;
    padding: 60px 200px 160px 220px;
    margin: 50px 140px;

}

.subscription-input{
    border-radius: 5px;
    width: 300px;
    height: 20px;
    background-color: #FFFFFF;
    padding: 18px 40px;
    border: none;
   
}
.subscription-btn{
    background-color: #afb2b1;
    padding: 17px 34px;
    color: #FFFFFF;
    gap: none;
    border: none;
    border-radius: 10px;

 
}

